<h1>Blog App</h1>

<ul>
<% @users.each do |user|%>
<li>
<div class='user-content'>
  <%= image_tag 'https://img.freepik.com/premium-photo/close-up-cartoon-character-wearing-headphones-jacket-generative-ai_958098-24830.jpg?w=1480', alt: "#{user.name} profile image", class: 'profile'%>
 <div class='user-content2'>
   <%= link_to user,class:'user-content-details' do %>
   <h2><%= user.name %></h2>
   <p class='user-post-total'>Number of posts: <%=user.post_counter%> </p>
   <%end%>
 </div>
</div>
</li>
<% end %>
</ul>