* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.user-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 30px;
  width: 80%;
  margin: auto;
  margin-bottom: 7%;
  height: 90px;
  cursor: pointer;
}

.profile {
  border: 2px solid #333;
  width: 150px;
  height: 150px;
}

.user-content2 {
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 26px;
  margin: 0 0 5px 20px;
}

.user-post-total {
  text-align: right;
  margin: 0 20px 5px 0;
}

.bio {
  width: 80%;
  border: 2px solid #333;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.user-post-list {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.content-view-all-post-btn {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-post-btn {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}

.post_subcont {
  border: 2px solid #333;
  margin-bottom: 20px;
  padding: 10px;
}

.post-total {
  text-align: right;
}

.comment-content {
  border: 2px solid #333;
  margin-bottom: 20px;
  padding: 10px;
  list-style: none;
}

.no-posts {
  width: 80%;
  margin: auto;
}

.post-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.post-kont {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 15px;
}

.view-all-post-btn,
.add_comment,
.like_btn,
.comment_btn,
.post_btn {
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
}

.post_btn {
  border: none;
  outline: none;
}

.like_btn,
.comment_btn {
  margin-top: 8px;
  padding: 8px;
  border: none;
  outline: none;
}

.add_post {
  color: blue;
}
